body {
    background: #779184;
}

h1, h2 {
    font-family: 'Luckiest Guy', cursive;
}
h1{

    color: white;
    background-color: rgb(94, 88, 88);
    padding: 20px 20px 10px 20px;
    border-radius: 10px;
    
}
h2{

    margin-top:30px;
}

p { 
    font-family: 'Dancing Script', cursive;
}
        /*****************************         HEADER         **********************************/
header {
     background-color:#333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    border-radius: 10px;

}


ul{

    margin-right: 20px;
}


nav > ul > li {
    
    display: inline;
}
nav > ul > li > a {

    margin-right: 10px;
    text-decoration: none;
    background-color: aliceblue;
    padding: 5px;
    border-radius: 5px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Logo {
    height: 100px;
    width: 100px;  
    margin:20px;  
}

input {
    height: 40px;/*s'il te plait*/
}

.section1 {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    
}
.foto {
    height: 200px;
    width: 200px;
    margin: 25px;
   
    border-radius: 10px;
    
  
}



.bigFoto {
    width: 500px;
    height: 250px;
    margin:40px;
    border-radius: 10px;
   
}
.bigFoto:hover{

    opacity: 0.8;
}

.article1-section1{

display: flex;
flex-direction: column;
margin-bottom: 40px;
background-color: rgb(255, 255, 255);
margin:40px;
border-radius: 10px;
}

button{
margin: 0 10px 10px 10px;
border:none;
background-color: rgb(93, 224, 218);
padding: 10px;
color:white;
}
button:hover{
    background-color:pink;
}
.spotify{


    width: 60px;
    height: 60px;
}

.foto:hover{

opacity: 0.8;
}


.section2 {
    display: flex;
    justify-content: space-around;
    margin-right:40px;

}



footer{

    margin:0px 40px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}